<?xml version="1.0" encoding="UTF-8" ?>
<class name="SpringArm3D" inherits="Node3D" version="4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../class.xsd">
	<brief_description>
	</brief_description>
	<description>
	</description>
	<tutorials>
	</tutorials>
	<methods>
		<method name="add_excluded_object">
			<return type="void" />
			<param index="0" name="RID" type="RID" />
			<description>
			</description>
		</method>
		<method name="clear_excluded_objects">
			<return type="void" />
			<description>
			</description>
		</method>
		<method name="get_hit_length">
			<return type="float" />
			<description>
			</description>
		</method>
		<method name="remove_excluded_object">
			<return type="bool" />
			<param index="0" name="RID" type="RID" />
			<description>
			</description>
		</method>
	</methods>
	<members>
		<member name="collision_mask" type="int" setter="set_collision_mask" getter="get_collision_mask" default="1">
		</member>
		<member name="margin" type="float" setter="set_margin" getter="get_margin" default="0.01">
		</member>
		<member name="shape" type="Shape3D" setter="set_shape" getter="get_shape">
		</member>
		<member name="spring_length" type="float" setter="set_length" getter="get_length" default="1.0">
		</member>
	</members>
</class>
